body {
	background-color: #0D3A4F;
	background-image: url("nav_texture_100x.png");
	background-repeat: repeat;
}
#close-btn{
	font-size: 20px;
	color: #101F29;
	margin: 10px;
	-webkit-app-region: no-drag;
}

#close-btn:hover{

	color: #FF9E00;
}
#topbar  {
	background-color: #046D8B;
	min-width: 100%;
	max-width: 100%;
	min-height: 40px;
	max-width: 40px;
	-webkit-app-region: drag;
}

footer {
	background-color: #046D8B;
	min-width: 100%;
	max-width: 100%;
	min-height: 40px;
	max-width: 40px;
	position:absolute;
	bottom:0;
	left:0;
}

#topbar li {
	display:inline-flex;
}

#title {
	font-family: Arcade;
	color: #FF9E00;
	margin: 10px;
	-webkit-user-select: none;
}



.arc-wrapper {
	height: 100%;
	margin:20px;
	min-height:100%;
	position:relative;
	overflow-x: hidden;
	overflow-y: auto;


}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
